/* REGOLE GENERALI  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.c_white {
  color: white;
}

.c_grey {
  color: grey;
}

p {
  color: grey;
}
.wrapped {
  width: 100%;
  height: 100vh;
}

li {
  list-style: none;
}
/* FINE REGOLE GENERALI  */

/* ------TOP HEADER  ------*/
.top_header {
  position: fixed;
  top: 0;
  right: 0;
  left: 250px;
  height: 80px;
  padding-right: 30px;
  background-color: #080B12;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2222;
}

.top_header .upgrade {
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  transition: all 1s;
}
/* ------FINE TOP HEADER ------- */

/*------ MENU FISSO A SINISTRA  ------*/
.menu_sinistra {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100vh - 80px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-color: black;
  padding: 20px 0;
}

.nav_playlist , .nav_name , .img_logo {
  padding: 0 20px;
}
.menu_sinistra a {
  text-decoration: none;
  color: grey;
}

/* LOGO SPOTIFY */
.img_logo {
  height: 50px;
  margin-bottom: 15px;
}
.img_logo_piccolo {
  padding-left: 20px;
  height: 40px;
  margin-bottom: 15px;
}
/* FINE LOGO SPOTIFY */

/* NAV HOME (PRIMA SEZIONE MENU)  */
.nav_home ul li , .nav_playlist ul li {
  line-height: 35px;
}

.nav_home ul li a img {
  height: 25px;
  padding-right: 5px;
}

.nav_home li {
  padding-left: 20px;
}
.nav_home .casetta {
  border-left: 2px solid lightgreen;
}
/* FINE NAV HOME  */

/* NAV PLAYLIST (SECONDA SEZIONE MENU) */
.nav_playlist {
  flex-grow: 2;
  overflow-y: auto;
}

/* quadratino del crea playlist */
.plus_square {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: lightgrey;
  vertical-align: middle;
  text-align: center;
  position: relative;
  margin-right: 10px;
}

.plus_square i {
  position: absolute;
  font-size: 17px;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  color: black;
}
/* FINE NAV PLAYLIST  */

/* NAV NAME (TERZA SEZIONE MENU) */
.nav_name {
  background-color: black;
}

.nav_name .install i {
  padding-right: 10px;
}
.nav_name h5 {
  display: inline;
}

.finto_hr {
  border: 1px solid grey;
  width: 210px;
  margin: 10px 0;
}

.omino {
  height: 30px;
  width: 30px;
  background-color: grey;
  border-radius: 50%;
  margin-right: 10px;
}
/* FINE NAV NAME  */

/* ------FINE MENU A SINISTRA ------- */

/* ------MAIN --------- */
.main_content {
  margin-top: 80px;
  padding-bottom: 100px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 250px;
  min-height: calc(100vh - 80px - 80px);
  width: calc(100% - 250px);
  background-color: #141922;
  overflow-y: scroll;
}

.main_lista li {
  display: inline;
  margin-right: 20px;
  position: relative;
}

.main_lista li a {
  color: grey;
}

.main_lista .righina_sotto_verde {
  position: absolute;
  bottom: -7px;
  left: 50%;
  width: 30px;
  height: 2px;
  transform: translateX(-50%);
  background-color: lightgreen;
}

.main_lista .rig_hid {
  visibility: hidden;
}

.main_canzoni {
  width: 100%;
}
.main_canzoni .row > div {
  min-height: 300px;
}
.main_canzoni img {
  width: 100%;
  height: auto;
}

.main_canzoni h3 , .main_canzoni h5 {
  color: white;
}

.terza_riga_canzoni img {
  border-radius: 50%;
}

.box_img {
  position: relative;
}
.layover_play {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.layover_play i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  font-size: 50px;
  color: white;
}

.lay_circle {
  border-radius: 50%;
}
/*-------- FINE MAIN --------*/

/* --------FOOTER ---------*/
footer {
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #282828;
  padding: 20px;
  z-index: 3333;
}

/* PLAYER (SEZIONE A SINISTRA) */
.left_nome_canzone img {
  height: 50px;
}

.left_nome_canzone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

.immagine_canzone {
  flex-grow: 1;
}
.titolo_canzone {
  flex-grow: 2;
}
.icone_canzone {
  flex-grow: 1;
}

.icone_canzone a {
  color: grey;
  padding-left: 10px;
  font-size: 1.2em;
}

.titolo_canzone h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* PLAYER (SEZIONE CENTRALE) */
.middle_player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.barra_player {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
}

.barra_sotto {
  display: block;
  height: 5px;
  width: 70%;
  background-color: grey;
  border-radius: 10px;
  position: relative;
}

.barra_sopra {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 70%;
  border-radius: 10px;
  background-color: white;
}

.pallino_hover {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50% , -50%);
}

.middle_player a , .right_volume a {
  color: white;
  padding-right: 10px;
}
.middle_player .play {
  font-size: 2em;
  padding-left: 10px;
  padding-right: 20px;
}

.play i {
  transition: all 1s;
}

.middle_player a:not(.play) {
  font-size: 1.2em;
}
/* VOLUME (SEZIONE A DESTRA) */
.right_volume {
  width: 15%;
}

.barra_volume {
  display: inline-block;
  height: 5px;
  width: 50%;
  background-color: grey;
  border-radius: 10px;
  position: relative;
}
.barra_volume_sopra {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 70%;
  border-radius: 10px;
  background-color: white;
}
/*-------- FINE FOOTER ---------*/

/* ------MEDIA QUERIES----- */

@media screen and (max-width: 767px) {
  .menu_sinistra {
    width: 80px;
  }
  .nav_home .casetta {
    border: none;
  }
  .finto_hr {
    border: none;
  }
  .nav_name {
    text-align: center;
  }
  .main_content {
    width: calc(100% - 80px);
    margin-left: 80px;
  }
  .top_header {
    left: 80px;
  }
}
/* ---------- HOVER --------- */

/* Top header  */
.top_header .upgrade:hover {
  transform: scale(1.2);
}

/* Menu a sinistra  */
.nav_home li:not(li:first-child):hover {
  border-left: 2px solid lightgreen;
  color: white;
}

.menu_sinistra a:hover  {
  color: white;
}

/* Main lista e canzoni  */
.main_lista li:hover .rig_hid {
  visibility: visible;
}
.main_lista li:hover a {
  color: white;
  text-decoration: none;
}

.box_img:hover .layover_play {
  visibility: visible;
}

/* Footer  */
.left_nome_canzone a:hover {
  color: white;
  text-decoration: none;
}

.icone_player .play:hover i {
  transform: scale(1.2);
  color: lightgreen;
}

.icone_player a:not(.play):hover i {
  color: lightgreen;
}

.barra_volume:hover .pallino_hover , .barra_sotto:hover .pallino_hover {
  visibility: visible;
}

.barra_volume:hover .barra_volume_sopra , .barra_sotto:hover .barra_sopra {
  background-color: lightgreen;
}
